:root{
    --primary-bg-color:#262626;
    --primary-font-family:Helvetica;
    --body-font-size:1rem;
    --menu-font-size:2.5rem;
    --header-font-size:2rem;
    --small-header-size:0.75rem;
    --body-font-color:#FFFFFF;
}

body{
    background-color: var(--primary-bg-color);
    font-family: var(--primary-font-family);
    color: var(--body-font-color);
    position: relative;
    margin: 0;
}

.hamburger{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

h1{
    margin:0;
    font-weight: 700;
}

h6 {    
    font-size: var(--small-header-size);
    color: #CACACA;
    margin: 0;
    padding-bottom: 0.5rem; 
}


.intro-text{
    margin: 0 2rem;
    font-weight: var(--body-font-weight);
    padding-top: 3rem;
    font-weight:400;
}
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    gap: 10px;                
  }
  
  .image {
    position: relative;
    flex: 0 0 40%;            
    max-width: 40%;           
    overflow: hidden;
    
  }
  
  .image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.3s ease;
    display: block;
  }
  
  .image p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1em;
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: opacity 0.3s ease;
  }
  
  .image:hover img {
    filter: brightness(50%);
    transform: scale(1.05);
  }
  
  .image:hover p {
    opacity: 1;
  }
  
  
  @media (max-width: 300px) {
    .image {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  