:root{
    --primary-bg-color:#262626;
    --primary-font-family:Helvetica;
    --body-font-size:1rem;
    --menu-font-size:2.5rem;
    --header-font-size:2rem;
    --small-header-size:0.75rem;
    --body-font-color:#FFFFFF;

}

body{
    background-color: var(--primary-bg-color);
    font-family: var(--primary-font-family);
    color: var(--body-font-color);
    position: relative;
    margin: 0;
 
    
}

.hamburger{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

h1{
    margin:0;
    font-weight: 700;
}

h6 {    
    font-size: var(--small-header-size);
    color: #CACACA;
    margin: 0;
    padding-bottom: 0.5rem;
    
    
}


.intro-text{
    margin: 0 2rem;
    font-weight: var(--body-font-weight);
    padding-top: 3rem;
    font-weight:400;
    

}

.image-grid {
    display: grid;
    height: 50vh;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 1fr);
    gap:15px;
    margin-left: 1.5rem;
    
  }